@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 900;
   src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"),
      url("../fonts/Montserrat-BlackItalic.woff") format("woff");
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 700;
   src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"),
      url("../fonts/Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
      url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 600;
   src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}
