.discount {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg7.jpg");
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   // align-items: center;
   @include commonScreen;
   // .discount__wrapper

   &__wrapper {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      min-height: 600px;
      position: relative;
      @media (min-width: $L) {
         padding: 70px 0px 0px 0px;
      }
   }
   .discount__common-title {
      @media (min-width: $XS) and (min-height: 850px) {
         margin: 70px 0px 0px 0px;
      }
      @media (min-width: $XS) and (min-height: 1220px) {
         margin: 300px 0px 0px 0px;
      }
   }

   // .discount__content

   &__content {
      text-align: center;
      width: 70%;
      margin: 25px 0px 0px 0px;
      @media (max-width: $L) {
         width: 95%;
      }

      @media (max-width: $S) {
         padding: 60px 15px;
      }
   }

   // .discount__title
   &__title {
      font-style: italic;
      font-weight: 900;
      font-size: 85px;
      line-height: 104px;
      color: $red;
      @media (min-width: $XS) and (max-height: 825px) {
         font-size: 65px;
         line-height: 75px;
      }

      @media (max-width: $XS) {
         font-size: 55px;
         line-height: 65px;
      }
   }
   // .discount__text

   &__text {
      font-style: italic;
      font-weight: 900;
      font-size: 25px;
      line-height: 158.47%;
      color: #fff;
      @media (max-width: $XS) {
         font-size: 22px;
         line-height: 110%;
      }
   }
}
