.discount {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg7.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   @include commonScreen;
   // .discount__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
   }

   // .discount__content

   &__content {
      width: 828px;
      text-align: center;
      flex: 1 1 auto;
      padding: 90px 0px 0px 0px;
      @media (max-width: $S) {
         width: 100%;
         padding: 90px 15px;
      }
   }

   // .discount__title
   &__title {
      font-style: italic;
      font-weight: 900;
      font-size: 85px;
      line-height: 104px;
      color: $red;
   }
   // .discount__text

   &__text {
      font-style: italic;
      font-weight: 900;
      font-size: 25px;
      line-height: 158.47%;
      color: #fff;
   }
}
