.events {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg2.jpg");
   background-size: cover;
   background-position: 0% 0%;
   background-repeat: no-repeat;
   flex: 1 0 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 104px 0 60px;
   // .events__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      height: 100%;
   }

   // .events__title

   &__title {
      transform: translateY(255px);
      transition: all 1s ease;
      opacity: 0;
   }
   // .events__gallery
   &__gallery {
   }

   &__item {
      transform: translateY(-255px);
      transition: all 1s ease;
      opacity: 0;
   }
}

.eventsa.swiper-slide-active {
   .events__item:nth-child(1) {
      transform: translatey(-0);
      transition: all 2s ease 0.2s;
      opacity: 1;
   }
   .events__item:nth-child(2) {
      transform: translatey(-0);
      transition: all 2s ease 0.4s;
      opacity: 1;
   }
   .events__item:nth-child(3) {
      transform: translatey(-0);
      transition: all 2s ease 0.6s;
      opacity: 1;
   }
   .events__item:nth-child(4) {
      transform: translatey(-0);
      transition: all 2s ease 0.8s;
      opacity: 1;
   }
   .events__title {
      transform: translatey(-0);
      transition: all 1s ease 0.2s;
      opacity: 1;
   }
}
