.events {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg2.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   @include commonScreen;
   // .events__wrapper

   &__wrapper {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: space-evenly;

      height: 100%;
   }

   // .events__title

   &__title {
      @media (max-width: $XS) {
         margin: 0px 0px 40px 0px;
      }
   }
   // .events__gallery
   &__gallery {
   }

   &__item {
   }
}
