.gather {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg8.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   @include commonScreen;
   overflow-y: auto;

   // .gather__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      @media (max-width: $XS) {
         align-self: flex-start;
      }
   }

   // .gather__title

   &__title {
      margin: 20px 0px 40px 0px;
      @media (min-width: $XS) and (max-height: 825px) {
         margin: 0px 0px 20px 0px;
         font-size: 60px;
      }
      @media (max-width: $XS) {
         margin: 20px 0px 40px 0px;
      }
   }

   // .gather__tabs

   &__tabs {
   }

   // .gather__tab-but

   &__tab-but {
      @media (max-width: $XS) {
         padding: 10px;
         margin: 0px 0px 25px 0px;
      }
   }

   // .gather__gallery

   &__gallery {
   }

   // .gather__tab-cont

   &__tab-cont {
      margin: 30px 0px 0px 0px;
   }

   // .gather__form

   &__form {
   }

   // .gather__items

   &__items {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 15px 0px;
      padding: 0 15px;

      @media (max-width: $XS) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   // .gather__item

   &__item {
      padding: 30px;

      max-width: 590px;
      flex: 0 0 49%;
      transform: skewX(-5deg);
      background-color: #fff;
      @media (max-width: $M) {
         transform: skewX(0);
         padding: 10px;
      }
      @media (max-width: $XS) {
         flex: 0 0 90%;

         margin: 0px 0px 10px 0px;
      }
   }

   // .gather__confirm

   &__confirm {
      display: block;
      margin: 0 auto;
   }
}

.gather__tab-cont {
   display: none;
}

.gather__tab-cont.active {
   display: block;
}

.gather__item-title {
   display: block;
   margin: 0px 0px 30px 0px;
}

.gather__wrapper.container {
   @media (max-width: $M) {
      width: 100%;
      padding: 0 10px;
   }
}

.gather__select.select {
   position: relative;
   &::after {
      @media (max-width: $M) {
         background: #fff;
      }
   }
}
