.header {
   position: fixed;
   width: 100%;
   height: 104px;
   top: 0;
   left: 0;
   background-color: rgba($color: #000300, $alpha: 0.5);
   z-index: 10;
   color: #fff;

   //.header__content
   &__content {
      width: 1170px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .header__logo

   &__logo {
   }

   // .header__logo-link

   &__logo-link {
      display: block;
   }

   // .header__menu

   &__menu {
   }

   // .header__list

   &__list {
      display: flex;
      text-transform: uppercase;

      font-size: 13px;
      font-style: italic;
      font-weight: 600;
   }

   // .header__item

   &__item {
      margin: 0 5px;
      color: $redlight;
      transition: color 0.3s ease;
      &:hover {
         color: $red;
      }
   }

   // .header__contacts

   &__contacts {
   }

   // .header__tel

   &__tel {
      font-style: italic;
      font-weight: 800;
      font-size: 17px;
      transition: color 0.3s ease;
      &:hover {
         color: $red;
      }
   }

   // .header__order

   &__order {
   }

   // .header__language

   &__language {
   }

   &__select {
      background-color: transparent;
      color: #fff;
      font-style: italic;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      border: none;
      outline: none;
      margin: 0 10px;
   }
   &__option {
      background-color: black;
   }

   &__brgr {
      margin: 0px 0px 0px 10px;
      cursor: pointer;
      span {
         transition: background-color 0.3s ease;
      }
      span:nth-child(1) {
         display: block;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      span:nth-child(2) {
         display: block;
         width: 30px;
         height: 1px;
         background-color: #fff;
         margin: 7px 0;
      }
      span:nth-child(3) {
         display: block;
         width: 20px;
         margin-left: auto;
         height: 1px;
         background-color: #fff;
      }
      &:hover span {
         background-color: $red;
      }
   }
}
