.header {
   position: fixed;
   width: 100%;
   height: 104px;
   top: 0;
   left: 0;
   background-color: rgba($color: #000300, $alpha: 0.5);
   z-index: 10;
   color: #fff;
   @media screen and (max-height: 825px) {
      height: 80px;
   }

   //.header__content
   &__content {
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $L) {
         justify-content: flex-end;
      }
      @media (max-width: $XS) {
         justify-content: center;
      }
   }

   // .header__logo

   &__logo {
   }

   // .header__logo-link

   &__logo-link {
      display: block;
      @media (max-width: $L) {
         flex: 1 1 auto;
      }
      @media (max-width: $XS) {
         flex: 0 0 auto;
         margin: 0 auto 0 25px;
      }
   }

   // .header__tel

   &__tel {
      font-style: italic;
      font-weight: 800;
      font-size: 17px;
      transition: color 0.3s ease;
      display: none;
      &:hover {
         color: $red;
      }
   }

   // .header__order

   &__order {
      padding: 15px 25px;
      display: block;
      @media (max-width: $L) {
         margin: 0px 35px 0px 0px;
      }
      @media (max-width: $XS) {
         flex: 1 1 auto;
         margin: 0 15px;
      }
   }

   // .header__language

   &__language {
      @media (max-width: $XS) {
         display: none;
      }
   }

   &__select {
      background-color: transparent;
      color: #fff;
      font-style: italic;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      border: none;
      outline: none;
      margin: 0 10px;
   }
   &__option {
      background-color: black;
   }

   &__brgr {
      margin: 0 25px;
      cursor: pointer;
      @media (max-width: $XS) {
         display: none;
      }
      span {
         transition: background-color 0.3s ease;
      }
      span:nth-child(1) {
         display: block;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      span:nth-child(2) {
         display: block;
         width: 30px;
         height: 1px;
         background-color: #fff;
         margin: 7px 0;
      }
      span:nth-child(3) {
         display: block;
         width: 20px;
         margin-left: auto;
         height: 1px;
         background-color: #fff;
      }
      &:hover span {
         background-color: $red;
      }
   }
}

.header__menu {
   @media (min-width: $XS) and (max-width: $L) {
      display: none;
   }
   @media (max-width: $XS) {
      position: absolute;
      top: 0;
      left: 0;
      background: #222;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      transform: translateX(-110%);
      transition: transform 0.3s ease;
   }
}
.header__menu.active {
   transform: translateX(0);
   z-index: 25;
}
.header__list {
   display: flex;
   text-transform: uppercase;
   font-size: 13px;
   font-style: italic;
   font-weight: 600;
   @media (max-width: $XS) {
      flex-direction: column;
      padding: 15px;
   }
}
.header__item {
   margin: 0 5px;
   color: $redlight;
   transition: color 0.3s ease;
   &:hover {
      color: #fff;
   }
   @media (max-width: $XS) {
      color: rgba(255, 255, 255, 0.5);
      margin: 15px;
   }
}

.header__aside-tel {
   font-style: italic;
   font-weight: 800;
   font-size: 17px;
   transition: color 0.3s ease;
   margin: 15px;
   display: block;
}
.header__order {
}
.common-button {
}
.header__aside-btn {
   margin: 15px;
}

.header__aside-contacts {
   @media (min-width: $XS) {
      display: none;
   }
}

.header__menu-brgr {
   margin: 0 25px;
   cursor: pointer;
   @media (max-width: $XS) {
      flex: 0 0 auto;
      margin: 0 10px 0 auto;
   }
   @media (min-width: $XS) {
      display: none;
   }
   span {
      transition: background-color 0.3s ease;
   }
   span:nth-child(1) {
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
   }
   span:nth-child(2) {
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      margin: 7px 0;
   }
   span:nth-child(3) {
      display: block;
      width: 20px;
      margin-left: auto;
      height: 1px;
      background-color: #fff;
   }
   &:hover span {
      background-color: $red;
   }
}

.header__aside-close {
   text-align: right;
   padding: 15px 25px 0 25px;
   @media (min-width: $XS) {
      display: none;
   }
}
