.media {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg5.jpg");

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   @include commonScreen;
   // .media__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      justify-content: center;
      height: 100%;
      @media (max-width: $mob) {
         max-width: 320px;
      }
   }
   &__tab-wrap {
      position: relative;
   }
   &__title {
      margin: 0px 0px 40px 0px;
      @media (min-width: $XS) and (max-height: 825px) {
         font-size: 45px;
         margin: 0px 0px 15px 0px;
      }

      @media (max-width: $mob) {
         max-width: 320px;
         margin: 15px 0px 35px 15px;
      }
   }
   &__tab-but {
   }
}

.media__tab-cont {
   display: none;
   margin: 30px 0px 0px 0px;
   @media (max-width: $mob) {
      margin: 0;
   }
}

.media__tab-cont.active {
   display: flex;
   height: auto;
}

.media-grid {
   display: grid;
   padding: 0 15px;
   grid-template-columns: 2fr 2fr 1fr;
   grid-template-rows: 400px;
   gap: 10px;
   transform: skewX(-4deg);
   margin: 0px 0px 15px 0px;
   @media screen and (max-height: 825px) {
      grid-template-rows: 350px;
   }
   @media (max-width: $XS) {
      margin: 30px 0px 0px 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 200px 200px 200px;
      transform: skewX(-0deg);
   }

   // .media-grid_section

   &_section1 {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }
   &_section2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }
   &_section3 {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
   }
   &__img-small {
      position: relative;
      cursor: pointer;

      &::after {
         content: "";
         display: block;
         opacity: 0;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../ico/zoom.svg");
         background-repeat: no-repeat;
         background-size: cover, 55px;
         background-position: center;
         transition: opacity 0.3s ease;
      }
      &:hover.media-grid__img-small::after {
         opacity: 1;
      }
   }
   // .media-grid__img

   &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
.media-grid__video {
   position: relative;
   cursor: pointer;

   &::after {
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../ico/play.svg");
      background-repeat: no-repeat;
      background-size: cover, 55px;
      background-position: center;
      transition: opacity 0.3s ease;
   }
   &:hover.media-grid__video::after {
      opacity: 1;
   }
}

iframe {
   width: 100%;
   height: 100%;
}

.slider-photo {
   position: relative;
   &__controls {
      width: 200px;
      height: 11px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 15;
   }
   &__prev {
      width: 46px;
      height: 11px;
      cursor: pointer;
      background: url("../ico/arrows/wl.svg");
      &:hover {
         background: url("../ico/arrows/rl.svg");
      }
   }

   // .slider-photo__next

   &__next {
      width: 46px;
      height: 11px;
      cursor: pointer;
      background: url("../ico/arrows/wr.svg");
      &:hover {
         background: url("../ico/arrows/rr.svg");
      }
   }
}

.media-grid__wrapper {
   width: 320px;
   padding: 0px 0px 15px 0px;

   @media (min-width: $XS) {
      width: 540px;
      padding: 0px 0px 35px 0px;
   }
   @media (min-width: $S) {
      width: 700px;
   }
   @media (min-width: $M) {
      width: 920px;
   }
   @media (min-width: $L) {
      width: $content-width + px;
   }
}

.swiper-photo-pagination {
   display: flex;
   width: 100px;
   justify-content: center;
   align-items: center;
}

.swiper-photo-bullet {
   margin: 3px 5px 0px 0px;
   width: 20px;
   height: 4px;
   transform: skewX(-35deg);
   background-color: #fff;
   opacity: 0.5;
   transition: background-color 0.3s ease;
   cursor: pointer;
   &:hover {
      background-color: $red;
   }
}
.swiper-photo-bullet-active {
   background-color: black;
   opacity: 1;
}
