.show {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg3.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   @include commonScreen;

   // .show__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 0 auto;
      height: 100%;
   }
   &__item {
   }
}

.show__title {
   margin: 0px 0px 5px 0px;

   @media (max-width: $XS) {
      margin: 0px 0px 40px 0px;
   }
}

.show.night {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg31.jpg");
}

.show__tab-cont {
   margin: 30px 0px 0px 0px;
}

.show__tab-cont.active {
}
