.show {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg3.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   @include commonScreen;

   // .show__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      height: 100%;
   }
   &__item {
   }
}

.show__title {
   @media (max-width: $XS) {
      margin: 0px 0px 40px 0px;
   }
}

.show.night {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg31.jpg");
}

.show__tab-cont {
   display: none;
}

.show__tab-cont.active {
   display: -webkit-box;
}
