.work {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/background/bg6.jpg");

   display: flex;
   justify-content: center;
   align-items: center;
   @include commonScreen;

   // .work__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
   }

   // .work__items

   &__items {
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   &__item-title {
      display: block;
      margin: 0px 0px 10px 0px;
   }

   // .work__item

   &__item {
      flex: 0 0 30%;
      height: 151px;
      background-color: #fff;
      font-size: 17px;
      padding: 30px;
      line-height: 25px;
      transform: skewX(-5deg);
      margin: 0px 0px 15px 0px;
      position: relative;
      @media (max-width: $S) {
         font-size: 14px;
         line-height: 18px;
         padding: 15px;
      }
      &::before {
         font-style: italic;
         font-weight: 900;
         font-size: 180px;
         line-height: 130px;
         opacity: 0.05;
         display: block;
         position: absolute;
         top: 10px;
         left: 50%;
         transform: translateX(-50%);
      }
      &:nth-child(1)::before {
         content: "1";
      }
      &:nth-child(2)::before {
         content: "2";
      }
      &:nth-child(3)::before {
         content: "3";
      }
      &:nth-child(4)::before {
         content: "4";
      }
      &:nth-child(5)::before {
         content: "5";
      }
      &:nth-child(6)::before {
         content: "6";
      }
   }
}
